<div class="container">
  <div class="row">

    <div class="col-6 image-card image-card--left">
      <div class="row">
        <div class="col-12">
          <div class="image image--left">
            <h1> Our Story </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 image-card image-card--right">
      <div class="row">
        <div class="col-12 ">
          <div class="col-12">
            <div class="image image--right">
              <h1> Our Blog </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>