<div class="footer">

  <div class="container footer">
    <div class="row">
      <div class="col-6 col-md-3">
        <nav class="nav-bar d-flex">
          <ul class="nav-bar__lists d-flex flex-column">
            <li><a class="nav-bar__lists__nav" href="home"> Home </a></li>
            <li><a class="nav-bar__lists__nav" href="store"> Store </a></li>
            <li><a class="nav-bar__lists__nav" href="about"> About </a></li>
            <li><a class="nav-bar__lists__nav" href="blog"> Blog </a></li>
            <li><a class="nav-bar__lists__nav" href="pointofsale"> Point of Sale </a></li>
          </ul>
        </nav>
      </div>

      <div class="col-6 col-md-3">
        <li>500 Terry Francois St.</li>
        <li>San Francisco, CA 94158</li>
        <li>Email : info@my-domain.com</li>
        <li>Tel : 1-800-000-0000</li>
      </div>

      <div class="col-6 col-md-3">
        <li>Shipping & Returns</li>
        <li>FAQ</li>
      </div>

      <div class="col-6 col-md-3">
        <li>Receive all our news and updates</li>
        <div class="form-group">
          <input type="text" value="Email Address" id="FullName" class="form-control">
        </div>
        <button>Subscribe Now</button>
      </div>
    </div>

  </div>

</div>