{{!-- <div class="topbar d-flex align-items-center justify-content-center">
  <nav class="nav-bar d-flex">
    <ul class="nav-bar__lists d-flex">
      <li><a class="nav-bar__lists__link__home" href="home"> Home </a></li>
      <li><a class="nav-bar__lists__link" href="services"> Services </a></li>
      <li><a class="nav-bar__lists__link" href="portfolio"> Portfolio </a></li>
      <li><a class="nav-bar__lists__link" href="showcases"> Showcases </a></li>
      <li><a class="nav-bar__lists__link" href="about"> About </a></li>
      <li><a class="nav-bar__lists__link" href="contact"> Contact </a></li>
    </ul>
  </nav>
</div> --}}


<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="nav-bar d-flex justify-content-end">
        <ul class="nav-bar__lists d-flex">
          <li><a class="nav-bar__lists__link" href="home"> Home </a></li>
          <li><a class="nav-bar__lists__link" href="store"> Store </a></li>
          <li><a class="nav-bar__lists__link" href="about"> About </a></li>
          <li><a class="nav-bar__lists__link" href="blog"> Blog </a></li>
          <li><a class="nav-bar__lists__link" href="pointofsale"> Point of Sale </a></li>
          <li>
            <a class="nav-bar__lists__link" href="#">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bag"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>