<div class="container-fluid">
  <div class="row">
    <div class="pl-0 col-12 col-md-4">
      <a href="">
        <div class="photo">
          <h4> Shoes </h4>
        </div>
      </a>
    </div>
    <div class=" col-12 col-md-4">
      <a href="">
        <div class="photo photo--2">
          <h4> Accessoires </h4>
        </div>
      </a>
    </div>
    <div class="pr-0 col-12 col-md-4">
      <a href="">
        <div class="photo photo--3">
          <h4> Tops </h4>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- 2 products dalis -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 text-box">
      <h5> Free Shipping and Returns</h5>
    </div>
    <div class="col-12 col-md-4 text-box">
      <h5> Secured Payments </h5>
    </div>
    <div class="col-12 col-md-4 text-box">
      <h5> Customer Service </h5>
    </div>
  </div>
</div>